html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #image-input {
  width: auto;
  height: 50%;
} */

#image-display {
  border: 1px solid;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  background-repeat: no-repeat;
  /* vertical-align: ; */
}
